.cart-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.meals-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
}

.container {
    background-color: aquamarine;
}